.mycluster {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    font-size: 24px;
}

.custom-marker-cluster{
    background: #ffffff;
    border: 15px solid #f00800;
    border-radius: 50%;
    color: #000000;
    height: 33px;
    line-height: 37px;
    text-align: center;
    width: 33px;
}